// body {
//   max-width: 1366px;
// }

.top-bar {
  width: 100%;
  height: 30px;
  background-color: #eb6e1f;
}

.container {
  position: relative;

  .hero-image {
    width: 110%;
    border-bottom: 4px solid #eb6e1f;
  }

  .logo-header {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 20%;
  }

  .heading {
    position: absolute;
    top: 18%;
    left: 10%;
    text-align: left;
    color: white;
    font-size: 5vw;
  }

  .date {
    position: absolute;
    top: 75%;
    left: 10%;
    color: white;
    font-size: 1.75vw;
  }
}

.Countdown {
  // top: 68%;
  margin: -65px auto;
  padding-bottom: 20px;
  position: absolute;
  width: 100%;
}

.Countdown-col {
  display: inline-block;
  background-color: black;
  color: white;
  padding: 0.5%;
  margin: 0.3%;
}

.Countdown-col-element {
  display: inline-block;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
}

.Countdown-col-element strong {
  font-size: 50px;
}
